/*Chosen font family and background used to cover the page*/
body{
	font-family: helvetica, arial, sans-serif;
	background-image:url(Images/pokeball-background1.png);
	background-size: cover;
}

/*curved corners for images*/
img {
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

/*Basic Padding */
header, section, aside, footer {
  padding: 5px;
}

/*Formatting the headers and text for the webpage*/
h1{
 	font-size: 50px;
  	color: black;
 	text-align: center;
	font-weight: normal;
}

h2{
	font-size: 30px;
	text-align: center;
	font-weight: normal;
	line-height: 25%;
}


.text{
	font-size: 27px;
	text-align: center;
	width: 85%;
	margin: auto;
}

.text2{
	font-size: 20px;
	text-align: center;
	padding: 5px;
}

.text3{
	font-size: 15px;
	text-align: left !important;
	padding: 10px;
}

/*Scales font size to screen size */
@media screen and (max-width: 600px){
	h1{font-size: 30px}
	h2{font-size: 20px}
	.text{font-size: 16px}
}


/*Formatting the image on the first page*/
.pokeball1{
	display: block;
  	margin: auto;
  	text-align: center;
	width: 20%;
	height: auto
}


/* Slideshow container */
.slideshow-container {
	text-align: center;
	margin-bottom: 10vh;
}

/* Hide the slides by default */
.mySlides {
	display: none;
}

/*Changes the cursor for the bottom buttons to show they can be clicked, and formats them to look like small dots*/
.dot {
	cursor: pointer;
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/*Makes the background slightly darker when hovering over or the button is active*/
.active, .dot:hover {
  background-color: #717171;
}

/* Next & previous buttons */
.nav_button {
  cursor: pointer;
}


/*Makes a grid for the user selections*/
.selections{
  	display: grid !important;
  	grid-gap: 0.5%;
  	justify-content: center;
	/*Three equal columns*/
	grid-template-columns: repeat(3, 1fr);
	margin: auto;
}

.selections2{
  	display: grid !important;
  	grid-gap: 0.5%;
  	justify-content: center;
	grid-template-columns: repeat(1, 1fr);
	margin: auto;
}



/*Scaling to screen size*/
@media screen and (min-width: 600px){
	.dot{
		height: 15px;
		width: 15px;
	}
	.selections{
		grid-template-columns: repeat(6, 1fr) !important;
		width: 95%;
		vertical-align: middle;
	}
	.selections2{
		grid-template-columns: repeat(2, 1fr) !important;
		width: 95%;
		vertical-align: middle;
	}
	
	.section_footer{height: 7vh}
	.option-1 > img , .option-2 > img , .option-3 > img > img , .option-4 > img , .option-5 > img , .option-6 > img {max-width: 13vw}
	
	.info-img{width: 20vw !important}
	.text3{font-size: 17px !important}
}


@media screen and (min-width: 1024px){
	.selections2{
		grid-template-columns: repeat(3, 1fr) !important;
		width: 95%;
		vertical-align: middle;
	}
	
	.info-img{width: 13vw !important}
}


/*Makes the option chosen stand out from the other text*/
.option-chosen{
	display: inline;
	font-weight: bold
}

/*Formats the images on the page*/
.option-1 , .option-2 , .option-3 , .option-4 , .option-5 , .option-6{
  	width: auto;
  	border-radius: 5%;
	border: none;
}

/*Each page has a different colour scheme*/
.option-1{
	background-color: rgba(255,0,0,0.30);
}

.option-2{
	background-color: rgba(255,200,0,0.30);
}

.option-3{
	background-color: rgba(0,255,0,0.30);
}

.option-4{
	background-color: rgba(0,255,255,0.30);
}

.option-5{
	background-color: rgba(0,0,255,0.30);
}

.option-6{
	background-color: rgba(255,0,255,0.30);
}

/*Max size for the images */
.option-1 > img , .option-2 > img , .option-3 > img > img , .option-4 > img , .option-5 > img , .option-6 > img{
  	width: auto;
	max-width: 27vw;
}

/*Adds an outline when the cursor is over the selection*/
.option:hover , .option-1:hover , .option-2:hover , .option-3:hover , .option-4:hover , .option-5:hover , .option-6:hover{
  	box-shadow:0px 0px 0px 1px black inset;
  	transition: 0.5s;
}

/*Adds a border once an option is selected*/
.option:focus , .option-1:focus , .option-2:focus , .option-3:focus , .option-4:focus , .option-5:focus , .option-6:focus{
	box-shadow:0px 0px 0px 2px black inset;
  	
}

/*Layout for team page*/
.item1 { grid-area: pokemon; }
.item2 { grid-area: image; }
.item3 { grid-area: stats; }

.info-grid  {
  	display: grid;
  	grid-template-areas:
    	'image pokemon pokemon pokemon'
    	'image stats stats stats'
    	'image stats stats stats'
		'image stats stats stats'
		'image stats stats stats';
  	grid-gap: 2px;
	box-shadow: 0px 0px 10px 0px gray inset;
}


/*Formats the images on the team page*/
.info-img{
  	display: block;
  	margin: auto;
  	vertical-align: center;
  	text-align: center;
  	object-fit: fill;
	width: 30vw;
}


/*Formats the footer*/
footer {
	background-color: white;
	border-radius: 10px;
	position: fixed;
	width: 100vw;
	height: 5vh;
	left: 0px;
	bottom: 0px;
  	font-size: 12px;
	text-align: center;
}

/*Makes the buttons allign to the center*/
.footer_buttons{
	vertical-align: middle;
	margin: auto;
	display: grid;
	grid-template-columns: 30% 40% 30%;
}

.footer_img, .play_button, #vol_img, #change_vol{
	vertical-align: middle !important;
  	margin: auto;
	max-height: 4vh;
	width: auto;
}

/*Styling the buttons for the player and removing the border*/
.play_button, #vol_img, #change_vol{
	border: none;
	max-height: 3vh;
	width: auto;
	margin: none;
}
